<svg:circle [attr.cx]="playerPosition.x" [attr.cy]="playerPosition.y" r="5" stroke="green" stroke-width="2" fill="yellow" />
<svg:line [attr.x1]="playerPosition.x" [attr.y1]="playerPosition.y" [attr.x2]="directionLine.x" [attr.y2]="directionLine.y" stroke="black" stroke-width="2"></svg:line>
<svg:line [attr.x1]="playerPosition.x" [attr.y1]="playerPosition.y" [attr.x2]="0" [attr.y2]="0" stroke="yellow" stroke-width="1"></svg:line>
<svg:rect x="0" y="0" width="50" height="25" stroke="black" [attr.fill]="socketConnectionStatus"></svg:rect>
